[project]
	description = OVX with VLAN
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hujw
[access "refs/for/refs/*"]
	read = group user/hujw
	push = group user/hujw
	label-Code-Review = -2..+2 group user/hujw
	label-Verified = -1..+1 group user/hujw
	rebase = group user/hujw
	removeReviewer = group user/hujw
	submit = group user/hujw
[access "refs/heads/*"]
	read = group user/hujw
	create = group user/hujw
	push = +force group user/hujw
	pushMerge = group user/hujw
[access "refs/tags/*"]
	push = +force group user/hujw
	pushTag = group user/hujw
	pushSignedTag = group user/hujw
